body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-size: 35px;
    font-weight: bold;
}

.image {
    height:50px;
    margin-right: 10px;
    border: none;
    object-fit: cover;
    padding-left: 5px;
}

.move-button {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    height: 120px;
    width: 120px;  
    margin-right: 10px;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}